body {
  background-color: whitesmoke;
}

.container {
  width: 75%;
}

table {
  width: 100%;
  background-color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

.remove_ingredient_button {
  border: none;
  background-color: white;
}

.tag {
  color: green;
}

#rating_form {
  cursor: pointer;
}

button[name=rating] {
  background-color: whitesmoke;
  border: none;
  margin: 0px;
  width: 25px;
  opacity: 1;
  font-size: 25px;
}

button[name=rating]:hover {
  cursor: default;
}

button[name=rating]:hover ~ button[name=rating]  {
  opacity: .5;
}

button[name=rating]:focus {
  outline:0;
  cursor: default;
}
